<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>直接插入排序 - 可视化代码运行</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <style>
        .num {
            border: blue 1px solid;
        }

        .active {
            background-color: red;
        }

        .ordered {
            border: 1px solid black!important;
        }

        .guard{
            background-color: lightblue;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div style="margin-bottom: 20px;">
            <div style="margin-bottom: 20px;">
                <select v-model="countNums">
                    <option v-for="num in [2,3,4,5,6,7,8,9]" :selected="num == countNums">{{num}}</option>
                </select>
                <button @click="getNums">随机生成正数组（长度为{{countNums}}）</button>
            </div>
            <div>
                <select v-model="delayOption">
                    <option v-for="num in [1,2,3]" :selected="num == delayOption">{{num}}</option>
                </select>
                <button @click="sort" :disabled="intv != 0">重新开始直接插入排序（每步耗时{{delayOption}}秒）</button>
            </div>
        </div>
        <div>哨兵：</div>
        <div class="num" v-for="(value, index) in nums"
            v-bind:class="{'guard': index == 0, 'active': index == curIndex, 'ordered': index > 0 && index < round }"
            :style="'width:' + (value == 0 ? 5 : value * 10) +'px;'">
            {{value}}
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            nums: [],//排序前后会改变,含哨兵
            oldNums: [],//排序前
            countNums: 4, //样例数组长度
            delayOption: 1, //每步耗时秒数

            round: 2, //当前趟数,从1开始计数，第1趟只有一个元素显然有序
            curIndex: 2, //当前处理元素的索引
            codeSteps: [], //每步的操作，记录运行步骤
            intv: 0 // 定时器,返回值从1开始
        },
        created() {
            this.genNums();
        },
        computed: {
            delay() {
                return this.delayOption * 1000;
            }
        },
        methods: {
            init() {
                //初始化
                this.nums = [];
                this.curIndex = 2;
                this.round = 2;
                this.codeSteps = [];
                clearInterval(this.intv);
                this.intv = 0;
            },
            getNums() {
                this.init();
                this.genNums();
            },
            genNums(){
                this.nums.push(0); // 哨兵
                for (let i = 0; i < this.countNums; i++) {
                    this.nums.push(Math.ceil(Math.random() * 50));
                }
                this.oldNums = [...this.nums]; //深拷贝
            },
            sort() {
                this.nums = [...this.oldNums];
                //1. 使用队列暂存运行步骤
                this.InsertSort();
                console.log(this.codeSteps);
                // 2. 按队列执行比较和交换，方便可视化
                this.nums = [...this.oldNums]; //恢复数组重新可视化排序
                // this.nums.push(-1);
                // this.nums.pop();
                this.funcIntv();
                this.intv = setInterval(function () {
                    app.funcIntv();
                }, app.delay * 2); // funcIntv里面有2个基本步骤：聚焦和处理
            },
            InsertSort(){
                let i, j;
                for(i = 2;i < this.nums.length;i++){
                    if(this.nums[i] < this.nums[i-1]){
                        this.nums[0] = this.nums[i]; // 哨兵
                        this.codeSteps.push(i, 0, i); // 记录运行步骤 0：用i替换0
                        for(j = i-1; this.nums[0] < this.nums[j]; j--){ //1~i-1是部分有序，看i要插入到哪个位置
                            this.nums[j+1] = this.nums[j];
                            this.codeSteps.push(i, j+1, j);
                        }
                        this.nums[j+1] = this.nums[0];
                        this.codeSteps.push(i, j+1, 0); // 记录运行步骤
                    }else{
                        this.codeSteps.push(i, i, -1); // 记录运行步骤 -1表示无需处理只需着眼
                    }
                }
                // this.nums.push(-1);
                // this.nums.pop();
            },
            funcIntv(){
                if (app.codeSteps.length > 0) {
                    // 1. 着眼处理对象
                    const round = app.codeSteps.shift();
                    const a = app.codeSteps.shift();
                    const b = app.codeSteps.shift();
                    app.curIndex = a;
                    app.round = round;
                    //2. 进行处理（提供反应时间）
                    setTimeout(function () {
                        if(b > -1){
                            app.nums[a] = app.nums[b];
                            app.nums[b] = app.nums[0];
                        }
                    }, app.delay);
                } else {
                    //可视化的样式收尾
                    clearInterval(app.intv);
                    app.intv = 0;
                    app.round = app.nums.length;
                    app.curIndex = -1;
                    //检查
                    let i = 1; // 哨兵不比较
                    let nums = [...app.oldNums];
                    nums.sort(app.sortNumber);
                    while(i < app.nums.length && app.nums[i] == nums[i++]);
                    if(i != app.nums.length){
                        alert('排序前后不一致! ' + nums + ' -> ' + app.nums);
                        console.log(nums);
                        console.log(app.nums);
                    }
                }
            },
            sortNumber(a,b)
            {
                return a - b;
            }
        }
    })
</script>

</html>