<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>简单选择排序 - 可视化代码运行</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <style>
        .num {
            border: blue 1px solid;
        }

        .active {
            background-color: red;
        }

        .cur {
            background-color: green;
        }

        .ordered {
            border: 1px solid black !important;
        }

        .toorder {
            border: 1px dotted black !important;
        }

    </style>
</head>

<body>
    <div id="app">
        <div style="margin-bottom: 20px;">
            <div style="margin-bottom: 20px;">
                <select v-model="countNums">
                    <option v-for="num in [2,3,4,5,6,7,8,9]" :selected="num == countNums">{{num}}</option>
                </select>
                <button @click="getNums">随机生成正数组（长度为{{countNums}}）</button>
            </div>
            <div>
                <select v-model="delayOption" :disabled="intv != 0">
                    <option v-for="num in [1,2,3]" :selected="num == delayOption">{{num}}</option>
                </select>
                <button @click="sort" :disabled="intv != 0">重新开始简单选择排序（每步耗时{{delayOption}}秒）</button>
            </div>
        </div>
        <div class="num" v-for="(value, index) in nums"
            v-bind:class="{'active': index == minIndex, 'cur': index == curIndex, 'ordered': index < round, 'toorder': index == round}"
            :style="'width:' + (value == 0 ? 5 : value * 10) +'px;'">
            {{value}}
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            nums: [],//排序前后会改变
            oldNums: [],//排序前
            countNums: 5, //样例数组长度
            delayOption: 1, //每步耗时秒数

            round: 0,
            minIndex: 0,
            curIndex: 1, //当前处理元素的索引
            codeSteps: [], //每步的操作，记录运行步骤
            intv: 0 // 定时器,返回值从1开始
        },
        created() {
            this.genNums();
        },
        computed: {
            delay() {
                return this.delayOption * 1000;
            }
        },
        methods: {
            init() {
                //初始化
                this.nums = [];
                this.round = 0;
                this.minIndex = 0;
                this.curIndex = 1;
                this.codeSteps = [];
                clearInterval(this.intv);
                this.intv = 0;
            },
            getNums() {
                this.init();
                this.genNums();
            },
            genNums() {
                for (let i = 0; i < this.countNums; i++) {
                    this.nums.push(Math.ceil(Math.random() * 50));
                }
                this.oldNums = [...this.nums]; //深拷贝
            },
            sort() {
                this.nums = [...this.oldNums];
                //1. 使用队列暂存运行步骤
                this.SelectSort();
                console.log(this.codeSteps);
                // 2. 按队列执行比较和交换，方便可视化
                this.nums = [...this.oldNums]; //恢复数组重新可视化排序
                // this.nums.push(-1);
                // this.nums.pop();
                this.funcIntv();
                this.intv = setInterval(function () {
                    app.funcIntv();
                }, app.delay * 1.5); // 只需取出执行,但不能跟内部的1个单位一样，所以取1.5
            },
            SelectSort() {
                const n = this.nums.length;
                for(let i = 0;i < n-1;i++){
                    min = i;
                    this.codeSteps.push('app.round=' + i + ';app.minIndex=' + i + ';app.curIndex=' + (i+1));
                    for(let j = i+1; j < n; j++){
                        this.codeSteps.push('app.curIndex=' + j);
                        if(this.nums[j] < this.nums[min]){
                            min = j;
                            this.codeSteps.push('app.minIndex=' + j);
                        }
                    }
                    this.codeSteps.push('app.curIndex=' + i);
                    if(min != i){
                        this.swap(i, min);
                        this.codeSteps.push('app.swap(' + i + ','+ min + ');app.minIndex=' + i + ';app.curIndex=' + min);
                    }
                }
                // this.nums.push(-1);
                // this.nums.pop();
            },
            swap(i, j){
                let tmp = app.nums[i];
                app.nums[i] = app.nums[j];
                app.nums[j] = tmp;
            },
            funcIntv() {
                if (app.codeSteps.length > 0) {
                    const code = app.codeSteps.shift();
                    setTimeout(function () {
                        eval(code);
                    }, app.delay);
                } else {
                    console.log('结束');
                    //可视化的样式收尾
                    app.round = app.nums.length;
                    app.minIndex = -1;
                    app.curIndex = -1;
                    clearInterval(app.intv);
                    app.intv = 0;
                    //检查
                    let i = 0;
                    let nums = [...app.oldNums];
                    nums.sort(app.sortNumber);
                    while (i < app.nums.length && app.nums[i] == nums[i++]);
                    if (i != app.nums.length) {
                        alert('排序前后不一致! ' + nums + ' -> ' + app.nums);
                        console.log(nums);
                        console.log(app.nums);
                    }
                }
            },
            sortNumber(a, b) {
                return a - b;
            }
        }
    })
</script>

</html>